:root {
    --background: lightblue;
}

html {
    overflow-y: scroll;
}

body {
    font-family: arial;
    background-color: var(--background);
}

h1,
h2 {
    text-align: center;
}

.album_years {
    height: 300px;
}

.album_years_chart {
    width: 50%;
}

.num_songs {
    height: 300px;
}

.num_songs_chart {
    width: 45%;
}

.duration {
    height: 250px;
}

.duration_chart {
    width: 60%;
}

.avg_song_duration {
    height: 250px;
}

.avg_song_duration_chart {
    width: 60%;
}

.artist_chart {
    height: 1200px;
    width: 100%;
}

.container {
    display: flex
}

.chartStats {
    width: 25%;
    padding-left: 12%;
}
.stats table{
    margin: 0 auto;
}

img {
    width: 128px;
    height: 128px;
    display: block;
    margin: 0 auto;
}

.art2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
    gap: 3px;
}

table{
    border-spacing: 0;
    border-collapse: collapse;
}
.chartStats table {
    float: right;
}

td {
    border: 1px solid black;
    padding: 5px;
}

th {
    font-weight: bold;
}

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    border: 5px solid black;
}

.tabs li a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color: white;
    background: black;
}

.tabs li.active a {
    color: black;
    background: white;
}

.active {
    display: block;
}